// Typography
$base-font-size:16px;
$sidebar-font-size:14px;
$med-font-size:13px;
$small-font-size:12px;

// Colors
$color-white:#fff;
$color-black:#212121;
$color-gray-extra-dark:#2a2a2a;
$color-gray-dark:#313131;
$color-gray-mid-dark:#3c3c3c;
$color-gray-mid:#d2d2d2;
$color-gray-mid-light:#e3e3e3;
$color-gray-light:#f0f0f0;
$color-gray-super-mid-light:#f3f3f3;
$color-gray-super-light:#f8f8f8;
$color-theme:#00baff;
$color-theme-dark:#03b1f1;
$color-theme-super-dark:#0083b4;