// Typography
$base-font-size:16px;

// Colors
$color-gray-d1:#212121;
$color-gray-d2:#313131;
$color-gray-d3:#3c3c3c;
$color-gray-d4:#e3e3e3;
$color-gray-d5:#f0f0f0;
$color-white:#fff;
$color-blue:#00baff;